.about {
    margin-top: 80px;
    margin-bottom: 110px;
    .wrapper {
        margin-top:70px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-around;
        .about-text {
            width: 45%;
            opacity: 0;
        }
        .img-container {
            width: 35%;
            box-shadow: none;
            img {
                border-radius: 33% 67% 58% 42% / 65% 66% 34% 35% ;
                box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
            }
        }
        .img-container::after {
            content: '';
            background-image: url('../assets/ellipse.png');
            background-size: cover;
        }
    }
}