.about {
    margin-top: 80px;
    margin-bottom: 110px;
    .wrapper {
        margin-top:70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .skills-chart {
            width: 35%;
            h3 {
                color: $bright-pink;
            }
        }
        .interest-list {
            text-align: center;
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .interest-container {
                width: calc(40% - 40px);
                margin: 40px;
            }
        }
        .progress-container {
            width: 100%;
            height:8px;
            background-color: lightgrey;
            .progress-amount {
                height:8px;
                &.js {
                    background-color: $light-teal;
                    width: 65%;
                }
                &.html {
                    background-color: $light-teal;
                    width: 95%;
                }
                &.react {
                    background-color: $light-teal;
                    width: 60%;
                }
                &.java {
                    background-color: $light-teal;
                    width: 75%;
                }
                &.sql {
                    background-color: $light-teal;
                    width: 85%;
                }
            }
        }
    }
    
}