body{
    overflow-x: hidden;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1900px;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    margin:0;
    padding:0;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
    color:inherit;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: $primary-font;
}

.blue-text {
    color: $light-teal;
}

.pink-text {
    color: $bright-pink;
}

button {
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-family: $primary-font;
    width: 40%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    background-color: $bright-pink;
    border:none;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    cursor: pointer;
    padding: 20px 40px;
    margin-top:30px;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    color: white;
    display: flex;
    align-items: center;
    &:hover {
        box-shadow: rgba(0, 0, 0, .3) 5px 14px 9px -5px;
        border:none;
        cursor: pointer;
    }
}

i {
    &.interests {
        color: $light-teal;
    }
    &.skills {
        color: white;
    }
    
}


h1 {
    color: $bright-pink;
    font-size: 5rem;
    margin-top:-10px;
}

input:checked {
    opacity: 0;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    padding-bottom: -30px;
    position: relative;
    &::after {
        content:'';
        position: absolute;
        height: 12px;
        top: 55%;
        left:0;
        width: 30%;
        z-index: -1;
        background-color: $soft-yellow;
    }    
}

h6 {
    margin: 0;
    padding:0;
}

.img-container {
    width: 40%;
    padding: 15px 15px 55px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    opacity: 0;
}

.back-to-top {
    position: fixed;
    bottom:30px;
    left: 30px;
    text-align: center;
    opacity: 70%;
    font-size: 2rem;
    color:$bright-pink;
    .arrow-desc {
        margin: 0;
        opacity: 0;
    }
    &:hover {
        cursor: pointer;
        opacity: 1;
        
        .arrow-desc {
            opacity: 1;
        }
    }   
}

// animation for rainbow text on buttons
