.wrapper {
    width: 85%;
    margin: 0 auto;
    max-width: 1900px;
}

li {
    list-style: none;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color:inherit;
}

.blue-text {
    color: $light-teal;
}