.contact {
    background-color: $light-teal;
    color: white;
    padding: 75px 0;
    .wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        .contact-text {
            width: 40%;
        }
        .contact-form {
            width: 40%;
            input {
                border-radius: 6px;
                padding:12px;
                width: 100%;
                box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
                border:none;
                margin:10px 0;
                font-family: $secondary-font;
                transition: all 200ms ease-in-out;
                &:active, &:focus {
                    outline:2px solid $bright-pink;
                    transform: translate3d(0, -3px, 0);
                    box-shadow: rgba(0, 0, 0, .3) 4px 12px 7px -5px;
                }
            }
            textarea {
                box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
                border-radius: 6px;
                margin-top:10px;
                width: 100%;
                padding:10px;
                font-family: $secondary-font;
                resize: none;
                border:none;
                transition: all 200ms ease-in-out;
                &:active, &:focus {
                    transform: translate3d(0, -3px, 0);
                    outline:2px solid $bright-pink;
        box-shadow: rgba(0, 0, 0, .3) 5px 14px 9px -5px;
                }
            }
        }
    }
    
}