
footer {
    background-color: $soft-yellow;
    margin:0;
    padding:50px;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
    #footer-email {
        margin:20px;
        transition: all ease 740ms;
        &:hover {
            transform: translate3d(0, -4px, 0);
        }
        a {
            text-transform: lowercase;
            font-size: 1.8rem;
            font-family: $primary-font;
            color: $bright-pink;
            font-weight: 400;
            transition: all ease 740ms;
            &:hover {
                font-size: 1.9rem;
                letter-spacing: 2.75px;
            }
            
        }
        
    } 
    p {
        padding:0;
        font-size: .8rem;
        line-height: 1;
        opacity: 40%;
        margin-top:40px;
        font-family: $primary-font;
    }
    hr {
        opacity: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 50%;
    }
    .social-media {
        display: flex; 
        justify-content: center;
        padding:0;
        margin:0;
        margin-top:0;
        li {
            color: $bright-pink;
            padding: 20px;
            margin-top: -10px;
            transition: all 235ms ease-in-out;
                &:hover {
                    transform: translate3d(0, -4px, 0);
                }
            
        }
    }
    .footer-text {
        opacity: 0;
    }
}