nav {
    background-color: $soft-yellow;
    .wrapper {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            li {
                padding-left: 20px;
                &:hover {    
                    color:$bright-pink;
                    &::after {
                        opacity: 1;  
                    }
                    &::before {
                        opacity: 1;
                    }
                }

                &::after {
                    color:$bright-pink;
                    content: ' }';
                    opacity: 0;  
                }
                &::before {
                    color:$bright-pink;
                    content: '{ ';
                    opacity: 0;  
                }
            }
        }

        // make logo invisible until scrolled
        #name-logo {
            opacity: 0;
        }


    }

}