.projects {
    margin: 0;
    position: relative;
    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 60px;
        .project-image {
            width: 60%;
            .img-container {
                width:100%;
                height: 100%;
                border:none;
                box-shadow: none;
                img {
                    display: block;
                    width:100%;
                }
            }
            
        }
        .project-info {
            margin:40px 0;
        }
        .project-list {
            opacity: 0;
            .live-links {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .speech-bubble {
                        display: flex;
                        align-items: center;
                        background: #ddd;
                        color: #333;
                        border:black;
                        margin-right: 40px;
                        margin-top:10px;
                        border-radius: 10px;
                        position: relative;
                        text-align: center; 
                        &:hover {
                            color: $bright-pink;
                        }
                        a {
                            
                            padding: 10px 50px;
                        }
                    }
                    .speech-bubble:after {
                        border: 20px solid transparent;
                        border-top-color: #ddd;
                        content: ''; 
                        position: absolute;
                        top: 100%;
                        left: 15%;
                    }
                }
        }
        h3 {
            margin-bottom: 0;
            &:hover, &:active, &:focus {
                color:$bright-pink;
                cursor: pointer;
                &::after {
                    opacity: 1;
                }
            }
        }
        label {
            padding-bottom:0;
        }
        input {
                display: none; 
                &:checked + label {   
                    color:$bright-pink;
                    // &:checked::after {
                    //     content:'➙';
                    //     padding-left:10px;
                    //     opacity: 0;
                    // }
                }
        }
        h5 {
            margin:5px 0;
            font-weight: 400;           
        }
    }
    #grey-illustration {
        position: absolute;
        height:30%;
        right:0px;
        top:-20%;
    }
    #ellipse {
        position: absolute;
        height:30%;
        right:0%;
        z-index: -1;
        top:-5%;
    }
}