.skill-banner {
    background-color: $light-teal;
    height:25vh;
    .wrapper {  
        opacity: 0;
        display: flex;
        flex-wrap: wrap;
        height:100%;
        align-items: center;
        margin-top: 50px;
        justify-content: space-evenly;
        .skill-info {
            text-align: center;
            width: 80px;
            height:80px;
            display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;
            .skills {
                align-self: center;
                transition: all ease 1s;
            }
            .skill-hover {
                opacity: 0;
                margin-top:5px;
                transition: all .6s ease;
                color:white;
            }
            &:hover .skills {
                font-size: 3.5rem;
            }
            &:hover .skill-hover {
                opacity: 1;
            }
        }
    }
    
}