// Fonts! 
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Mulish', sans-serif;

// Colours!
$soft-yellow: #fdf3b3;
$light-teal: #00bec5;
$bright-pink: #ed3363;
$dark-blue: #1f0e49;
$solid-black: #111111;