html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1900px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "Montserrat", sans-serif;
}

.blue-text {
  color: #00bec5;
}

.pink-text {
  color: #ed3363;
}

button {
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "Montserrat", sans-serif;
  width: 40%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  background-color: #ed3363;
  border: none;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  cursor: pointer;
  padding: 20px 40px;
  margin-top: 30px;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  color: white;
  display: flex;
  align-items: center;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 5px 14px 9px -5px;
  border: none;
  cursor: pointer;
}

i.interests {
  color: #00bec5;
}
i.skills {
  color: white;
}

h1 {
  color: #ed3363;
  font-size: 5rem;
  margin-top: -10px;
}

input:checked {
  opacity: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  padding-bottom: -30px;
  position: relative;
}
h4::after {
  content: "";
  position: absolute;
  height: 12px;
  top: 55%;
  left: 0;
  width: 30%;
  z-index: -1;
  background-color: #fdf3b3;
}

h6 {
  margin: 0;
  padding: 0;
}

.img-container {
  width: 40%;
  padding: 15px 15px 55px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  opacity: 0;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  left: 30px;
  text-align: center;
  opacity: 70%;
  font-size: 2rem;
  color: #ed3363;
}
.back-to-top .arrow-desc {
  margin: 0;
  opacity: 0;
}
.back-to-top:hover {
  cursor: pointer;
  opacity: 1;
}
.back-to-top:hover .arrow-desc {
  opacity: 1;
}

html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Mulish", sans-serif;
}

nav {
  background-color: #fdf3b3;
}
nav .wrapper {
  display: flex;
  justify-content: flex-end;
}
nav .wrapper ul {
  display: flex;
}
nav .wrapper ul li {
  padding-left: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
nav .wrapper ul li:hover {
  color: #ed3363;
}
nav .wrapper ul li:hover::after {
  opacity: 1;
}
nav .wrapper ul li:hover::before {
  opacity: 1;
}
nav .wrapper ul li::after {
  color: #ed3363;
  content: " }";
  opacity: 0;
}
nav .wrapper ul li::before {
  color: #ed3363;
  content: "{ ";
  opacity: 0;
}
nav .wrapper #name-logo {
  opacity: 0;
}

header {
  display: flex;
  align-items: center;
  height: 65vh;
  background-color: #fdf3b3;
  position: relative;
  transition: ease all 0.5s;
}
header .header-text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: ease all 0.5s;
}
header h1 {
  transition: ease all 0.5s;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.3rem solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0;
  -webkit-animation: typing 2.5s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
          animation: typing 2.5s steps(30, end) forwards, blink-caret 0.75s step-end infinite;
}
header #header-accent {
  width: 246px;
  transition: ease all 0.5s;
  position: absolute;
  right: 10%;
  bottom: -15%;
}
header #header-accent img {
  width: 100%;
}
header .animation-toggle {
  text-align: right;
  position: absolute;
  bottom: 5%;
  right: 1%;
}
header .animation-toggle .animation-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 50%;
}
header .animation-toggle .animation-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .animation-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
header .animation-toggle .slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
header .animation-toggle input:checked + .slider {
  border-radius: 34px;
  background-color: #ed3363;
}
header .animation-toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
header .animation-toggle input:checked + .slider:before {
  transform: translateX(26px);
}
header .animation-toggle h5 {
  opacity: 80%;
  margin-bottom: 10px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.about {
  margin-top: 80px;
  margin-bottom: 80px;
}
.about .wrapper {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.about .wrapper .about-text {
  width: 45%;
  opacity: 0;
}
.about .wrapper .img-container {
  width: 35%;
  box-shadow: none;
}
.about .wrapper .img-container img {
  border-radius: 33% 67% 58% 42%/65% 66% 34% 35%;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}
.about .wrapper .img-container::after {
  content: "";
  background-image: url("../assets/ellipse.png");
  background-size: cover;
}

.skill-banner {
  background-color: #00bec5;
  height: 25vh;
}
.skill-banner .wrapper {
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
  margin-top: 50px;
  justify-content: space-evenly;
}
.skill-banner .wrapper .skill-info {
  text-align: center;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.skill-banner .wrapper .skill-info .skills {
  align-self: center;
  transition: all ease 1s;
}
.skill-banner .wrapper .skill-info .skill-hover {
  opacity: 0;
  margin-top: 5px;
  transition: all 0.6s ease;
  color: white;
}
.skill-banner .wrapper .skill-info:hover .skills {
  font-size: 3.5rem;
}
.skill-banner .wrapper .skill-info:hover .skill-hover {
  opacity: 1;
}

.projects {
  margin: 50px 0;
  position: relative;
}
.projects .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}
.projects .wrapper .project-image {
  width: 60%;
}
.projects .wrapper .project-image .img-container {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
}
.projects .wrapper .project-image .img-container img {
  display: block;
  width: 100%;
}
.projects .wrapper .project-info {
  margin: 40px 0;
}
.projects .wrapper .project-list {
  opacity: 0;
}
.projects .wrapper .project-list .live-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.projects .wrapper .project-list .live-links .speech-bubble {
  box-shadow: 1px 1px 3px rgba(34, 25, 25, 0.4);
  display: flex;
  align-items: center;
  background: #ddd;
  color: #333;
  border: black;
  margin-right: 40px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.projects .wrapper .project-list .live-links .speech-bubble:hover {
  color: #ed3363;
}
.projects .wrapper .project-list .live-links .speech-bubble a {
  padding: 10px 50px;
}
.projects .wrapper .project-list .live-links .speech-bubble:after {
  border: 20px solid transparent;
  border-top-color: #ddd;
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
}
.projects .wrapper h3 {
  margin-bottom: 0;
}
.projects .wrapper h3:hover, .projects .wrapper h3:active, .projects .wrapper h3:focus {
  color: #ed3363;
  cursor: pointer;
}
.projects .wrapper h3:hover::after, .projects .wrapper h3:active::after, .projects .wrapper h3:focus::after {
  opacity: 1;
}
.projects .wrapper label {
  padding-bottom: 0;
}
.projects .wrapper input {
  display: none;
}
.projects .wrapper input:checked + label {
  color: #ed3363;
}
.projects .wrapper h5 {
  margin: 5px 0;
  font-weight: 400;
}
.projects #grey-illustration {
  position: absolute;
  height: 30%;
  right: 0px;
  top: -20%;
}
.projects #ellipse {
  position: absolute;
  height: 30%;
  right: 0%;
  z-index: -1;
  top: -5%;
}

.contact {
  background-color: #00bec5;
  color: white;
  padding: 75px 0;
}
.contact .wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.contact .wrapper .contact-text {
  width: 40%;
  opacity: 0;
}
.contact .wrapper .contact-form {
  width: 40%;
  opacity: 0;
}
.contact .wrapper .contact-form input {
  border-radius: 6px;
  padding: 12px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  border: none;
  margin: 10px 0;
  font-family: "Mulish", sans-serif;
  transition: all 200ms ease-in-out;
}
.contact .wrapper .contact-form input:active, .contact .wrapper .contact-form input:focus {
  outline: 2px solid #ed3363;
  transform: translate3d(0, -3px, 0);
  box-shadow: rgba(0, 0, 0, 0.3) 4px 12px 7px -5px;
}
.contact .wrapper .contact-form textarea {
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  border-radius: 6px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-family: "Mulish", sans-serif;
  resize: none;
  border: none;
  transition: all 200ms ease-in-out;
}
.contact .wrapper .contact-form textarea:active, .contact .wrapper .contact-form textarea:focus {
  transform: translate3d(0, -3px, 0);
  outline: 2px solid #ed3363;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 14px 9px -5px;
}

footer {
  background-color: #fdf3b3;
  margin: 0;
  padding: 50px;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
}
footer #footer-email {
  margin: 20px;
  transition: all ease 740ms;
}
footer #footer-email:hover {
  transform: translate3d(0, -4px, 0);
}
footer #footer-email a {
  text-transform: lowercase;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  color: #ed3363;
  font-weight: 400;
  transition: all ease 740ms;
}
footer #footer-email a:hover {
  font-size: 1.3rem;
  letter-spacing: 2.65px;
}
footer p {
  padding: 0;
  font-size: 0.8rem;
  line-height: 1;
  opacity: 40%;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
}
footer hr {
  opacity: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
}
footer .social-media {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 0;
}
footer .social-media li {
  color: #ed3363;
  padding: 20px;
  margin-top: -10px;
  transition: all 235ms ease-in-out;
}
footer .social-media li:hover {
  transform: translate3d(0, -4px, 0);
}
footer .footer-text {
  opacity: 0;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  header #header-accent {
    width: 170px;
  }

  nav .wrapper {
    margin-right: 0;
  }
  nav .wrapper ul li {
    padding: 0;
  }

  .about .wrapper {
    display: block;
  }
  .about .wrapper .about-text {
    width: 100%;
  }
  .about .wrapper .img-container {
    display: none;
  }

  .skill-banner {
    height: 50vh;
  }

  button {
    margin: 0 auto;
    margin-top: 50px;
  }

  .projects {
    margin: 50px 0;
  }
  .projects .wrapper .project-list {
    padding-left: 20px;
  }
  .projects .wrapper .project-list h3 {
    font-size: 1.5rem;
  }
  .projects .wrapper .project-list h3:hover, .projects .wrapper .project-list h3:focus, .projects .wrapper .project-list h3:active {
    color: black;
    cursor: default;
  }
  .projects .wrapper .project-list h5 {
    font-size: 0.65rem;
  }
  .projects .wrapper .project-list input:checked + label {
    color: black;
  }
  .projects .wrapper .project-image {
    display: none;
  }

  .contact .wrapper {
    flex-direction: column;
  }
  .contact .wrapper .contact-text {
    text-align: center;
    width: 100%;
  }
  .contact .wrapper .contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  footer #footer-email a {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}