@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 1900px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
}

.blue-text {
  color: #00bec5;
}

button {
  text-transform: uppercase;
  border: none;
  margin-top: 60px;
  background-color: #ed3363;
  padding: 20px 50px;
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
}

i.interests {
  color: #00bec5;
}
i.skills {
  color: white;
}

html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Mulish", sans-serif;
}

a {
  font-size: 0.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  color: #ed3363;
  font-size: 6rem;
  margin-top: -10px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  padding-bottom: -30px;
  position: relative;
}
h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  top: 55%;
  right: 0;
  z-index: -1;
  background-color: #fdf3b3;
}

nav {
  background-color: #fdf3b3;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
}
nav .wrapper ul {
  display: flex;
}
nav .wrapper ul li {
  padding-left: 20px;
}
nav .wrapper #name-logo {
  opacity: 0;
}

header {
  display: flex;
  align-items: center;
  height: 65vh;
  background-color: #fdf3b3;
  position: relative;
}
header h1 {
  width: 60%;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.3rem solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0;
  -webkit-animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
header #header-accent {
  position: absolute;
  right: 10%;
  bottom: -15%;
}
header #header-accent img {
  width: 100%;
}
header .animation-toggle {
  text-align: right;
  position: absolute;
  bottom: 5%;
  right: 1%;
}
header .animation-toggle .animation-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 50%;
}
header .animation-toggle .animation-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .animation-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}
header .animation-toggle .slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
header .animation-toggle input:checked + .slider {
  border-radius: 34px;
  background-color: #ed3363;
}
header .animation-toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
header .animation-toggle input:checked + .slider:before {
  transform: translateX(26px);
}
header .animation-toggle h5 {
  opacity: 80%;
  margin-bottom: 10px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}
@-webkit-keyframes blink-caret {
  from {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.about {
  margin-top: 80px;
  margin-bottom: 110px;
}
.about .wrapper {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .wrapper .skills-chart {
  width: 35%;
}
.about .wrapper .skills-chart h3 {
  color: #ed3363;
}
.about .wrapper .interest-list {
  text-align: center;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about .wrapper .interest-list .interest-container {
  width: calc(40% - 40px);
  margin: 40px;
}
.about .wrapper .progress-container {
  width: 100%;
  height: 8px;
  background-color: lightgrey;
}
.about .wrapper .progress-container .progress-amount {
  height: 8px;
}
.about .wrapper .progress-container .progress-amount.js {
  background-color: #00bec5;
  width: 65%;
}
.about .wrapper .progress-container .progress-amount.html {
  background-color: #00bec5;
  width: 95%;
}
.about .wrapper .progress-container .progress-amount.react {
  background-color: #00bec5;
  width: 60%;
}
.about .wrapper .progress-container .progress-amount.java {
  background-color: #00bec5;
  width: 75%;
}
.about .wrapper .progress-container .progress-amount.sql {
  background-color: #00bec5;
  width: 85%;
}

.skill-banner {
  background-color: #00bec5;
  height: 25vh;
}
.skill-banner .wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.projects {
  height: 75vh;
  margin: 80px 0;
  position: relative;
}
.projects .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.projects .wrapper .project-image {
  width: 45%;
  box-shadow: 2px 2px 5px;
}
.projects .wrapper .project-image .img-container {
  width: 100%;
  height: 100%;
}
.projects .wrapper .project-image .img-container img {
  display: block;
  width: 100%;
}
.projects .wrapper h3 {
  margin-bottom: 0;
}
.projects .wrapper h3:hover {
  color: #ed3363;
  cursor: pointer;
}
.projects .wrapper h3:hover::after {
  opacity: 1;
}
.projects .wrapper h3::after {
  content: "➙";
  padding-left: 10px;
  opacity: 0;
}
.projects .wrapper h5 {
  margin-top: 5px;
  font-weight: 400;
}
.projects #grey-illustration {
  position: absolute;
  height: 30%;
  right: -40px;
  top: -20%;
}
.projects #ellipse {
  position: absolute;
  height: 30%;
  right: -6%;
  z-index: -1;
  top: -5%;
}